/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after {
    box-sizing: border-box;
}
.container{
    max-width:1160px ;
    margin: 0 auto;
}
.header{
    background-color:#5385C1;
    padding: 10px 0px;
}
.clearfix::before, .clearfix::after{
    content:"";
    display: table;
}
.clearfix::after{
    clear: both;
}
.nav-left{
    float: left;
    font-size: 20px;
    padding: 30px;
    color: white;
}
.nav-right{
    float: right;
    word-spacing: 8px;
}
.heading{
    padding: 100px 0px;
}
.welcome{
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 5px 0px 20px;
}
.para{
    font-size:12px;
    padding-bottom: 60px;
}
.col1-2-3{
    float: left;
    padding: 30px;
    width: 30%;
}
.magna{
    font-size: 32px;
    color:#5385C1;
    padding: 30px 0px;
}
.text{
    font-size: 20px;
    padding: 20px 0px;
    word-spacing: 4px;
}
.btn{
    background-color:#5385C1;
    color: white;
    padding:8px 20px;
    font-size: 20px;
    border: none;
    margin: 16px 0px;
}
.img-div{
    background-color: transparent;
    padding: 20px 0px ;
    border: 1px dotted white;
    float: left;
    width: 20%;
    margin-right: 40px;

}
.img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    padding: 30px;    
}
.head{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 24px;
}
.pic-text{
    font-size: 15px;
}
.nunc{
    font-size: 40px;
    color:#5385C1;
    text-align: center;
    padding: 50px 0px 0px;
}
.nunc-text{
    font-size: 15px;
    color: gray;
    text-align: center;
    padding: 5px 0px 30px;
}
.col1-2{
    float: left;
    padding: 30px;
    width: 45%;
}
.img-bottom{
    width: 500px;
    height: 200px;
}
.footer{
    padding:40px 0;
}
.fab{
    color:rgb(82, 82, 211);
}


